html {
  background-color: #282c34;
}

body {
  color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  padding: 60px;
}

input {
  font-size: 1.3rem;
  color: rgb(54, 53, 53);
  width: 100%;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 12.5px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 300px;
}


.card img {
  min-width: 300px;
  max-width: 300px;
  min-height: 200px;
  max-height: 200px; 
}


.card p {
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: raw;
  flex-wrap: wrap;
}


/*ANIMATED*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}