html {
  background-color: #282c34;
}

body {
  color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

input {
  font-size: 1.3rem;
  color: rgb(54, 53, 53);
  width: 100%;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 12.5px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 250px;
}


.card img {
  min-width: 250px;
  max-width: 250px;
  min-height: 200px;
  max-height: 200px; 
}


.card p {
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: raw;
  flex-wrap: wrap;
  justify-content: center;
}


footer {
  background-color: #292b2c;
  bottom: 0;
  color: whitesmoke;
  max-height: 30px;
  left: 0;
  padding-bottom: 25px;
  position: fixed;
  text-align: center;
  width: 100%;
}

